/* src/styles/styles.css */

/* Estilização da Tabela */

.container {
  display: block;
}

.header-container {
display: flex; /* Usando Flexbox para alinhar h2 e botão */
justify-content: space-between; /* Espaço entre os elementos */
align-items: center; /* Centraliza verticalmente os elementos */
margin: 20px 0; /* Espaçamento acima e abaixo */
}

.add-item-container {
/* Estilos existentes para o contêiner do botão */
}

th input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box; /* Para incluir padding na largura total */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

tr:hover {
  background-color: #f1f1f1; /* Altera a cor da linha ao passar o mouse */
}

button {
  margin-right: 5px; /* Espaçamento entre os botões */
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3; /* Altera a cor ao passar o mouse */
}
